@using Chatty.Migrations
@model IEnumerable<OnlineUserViewModel>
<h3>Online Users</h3>
@{
    <ul class="list-group">
        @foreach (var user in Model)
        {
        <li class="list-group-item">
            @user.Name
        </li>
        }
    </ul>
}
