@using Chatty.Migrations
@model IEnumerable<OnlineUserViewModel>
<h3>Online Users</h3>
@{
    <ul id="onlineUsersList" class="list-group">
        @foreach (var user in Model)
        {
        <li class="list-group-item">
            @user.Name
        </li>
        }
    </ul>
}
<script>
    var selectedUser;
    var onlineUsersList = document.getElementById('onlineUsersList');
    

    onlineUsersList.addEventListener("click", function(e) {
         
         Array.from(this.getElementsByTagName("li")).forEach(item=>{item.classList.remove("active")});

        if(e.target && e.target.nodeName == "LI") {
            selectedUser = e.target;
            e.target.classList.add("active");
        }
    });        
</script>